:root {
  --color-iris: #4d5ae5;
  --color-white: #ffffff;
  --color-green: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--color-white);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styles START*/
.header {
  background-color: var(--color-white);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.studio-color {
  color: #2e2f42;
}

.studio-color-scd {
  color: #f4f4fd;
}

.webstudio {
  color: var(--color-iris);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.nav-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-ul {
  color: #2e2f42;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link {
  padding: 24px 0;
}

.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;
}

.address {
  color: #434455;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address > ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.address-item {
  padding: 24px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}
/* Header styles END*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  color: var(--color-white);
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  color: var(--color-white);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px #00000015;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.features {
  background-color: var(--color-white);
  padding: 120px 0;
}

.feature-icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  padding: 24px 100px;
}

.features-list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  padding: 120px 0;
  gap: 24px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: calc((100% - 72px) / 4);
}

.features-discription {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.features-p {
  letter-spacing: 0.02em;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}

.container-team {
  display: flex;
  padding: 32px 0;
  gap: 8px;
  flex-direction: column;
}

.team-h {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  padding: 120px;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-bottom: 120px;
  /* box-shadow: 0px 2px 1px 0px #2e2f42; */
}

.team-discription {
  /* display: flex; */
  /* justify-content: space-between; */
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4208;
}

.container-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-iris);
  width: 40px;
  height: 40px;
  transition-property: var(--color-iris);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-app-container:hover,
.icon-app-container:focus {
  background-color: var(--color-green);
}

.icon-app {
  width: 16px;
  height: 16px;
}

.icon-app-use {
  fill: var(--color-white);
  stroke: var(--color-white);

  /* width: 40px; */
  /* height: 40px; */
}

.portfolio {
  background-color: var(--color-white);
  padding-top: 120px;
  padding-bottom: 120px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4208;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.overlay-style {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 32px;
}

.portfolio-li:hover .overlay {
  transform: translateX(0);
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  gap: 32px;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: 1px;
  padding: 100px 0;
}
.footer-slogan {
  color: #f4f4fd;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  max-width: 264px;
}
